@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}


.panel div.author-info {
    margin-top: 30px;
    margin-bottom: -100px
}

ul.sidebar {
    background-color: #fe9126;
    color: #fff0f5;
    padding: 15px;
}

    ul.sidebar li {
        padding: 15px;
        list-style: none;
    }

    ul.sidebar a {
        text-decoration: none;
        color: #fff;
    }

    ul.sidebar li.active {
        background-color: #cc6600;
    }
